@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
  background-image: url(../pictures/bg6.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000; 
  color: #fff; 
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Optional: Add a background to the navbar */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar .logo .title {
    margin-left: 10px;
    font-weight: 900;
    font-size: 20px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar nav ul li {
    gap: 5px; /* Space between nav items */
    margin-right: 30px;
}

nav ul li a {
    gap: 0;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a.signup {
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
}

nav ul li a.order {
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #e00;
    color: #fff;
    margin-right: 70px;
}

.container {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 1000;
    font-size: 48px;
    margin-bottom: 20px;
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /* Add some space between the items and the image */
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    background-color: #800000; /* Dark red background */
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
